# Terraform
.terraform/
*.tfstate
*.tfstate.*
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraform.lock.hcl

# Variable files
*.tfvars
*.tfvars.json

# Environment files
.env
.env.*

# IDE
.vscode/
.idea/

# MacOS
.DS_Store
